atom-text-editor:not(.mini) {
  &, &::shadow {
    .storage {
      // NOTE|INFO|IDEA|DEBUG|REMOVE
      &.type.class.note,
      &.type.class.info,
      &.type.class.idea,
      &.type.class.debug,
      &.type.class.remove {
        color: #66D9EF;
        font-weight: bold;
      }

      // WTF|BUG|ERROR|OMG|ERR|OMFGRLY|WARNING|WARN|BROKEN
      &.type.class.wtf,
      &.type.class.bug,
      &.type.class.error,
      &.type.class.omg,
      &.type.class.err,
      &.type.class.omfgrly,
      &.type.class.warning,
      &.type.class.warn,
      &.type.class.broken {
        color: #F92672;
        font-weight: bold;
      }
    }
  }
}
